
a {
color: #4078c0;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app {
    width: 50%;
    margin: 50px auto 0 auto;
    color: #4f4f4f;
}

.formulario-busqueda { 
    margin: 0 auto;
    width: 620px;
}

.input-usuario {
    width: 530px;
}

.formulario-submit {
    width: 80px;
}

.check-miembro {
    display: block;
    margin-top: 15px;
    font-size: 12px;
}